.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Eliminar el fondo para que el Banner se mezcle con el Carrusel */
  background: none; /* Eliminar el fondo del banner */
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px; /* Aumentar el espacio entre enlaces */
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Ajustar el color del texto para que sea visible sobre el fondo */
  font-weight: bold;
  font-size: 14px; /* Reducir el tamaño de la letra */
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #003E69;
}
