/* Estilo del banner */
.banner-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cambia el color a negro para mayor visibilidad */
    background-color: #ffffff; /* Fondo blanco */
}

/* Estilo del logo */
.logo-custom img {
    height: 60px;
}

/* Estilo de los enlaces de navegación */
.nav-links-custom {
    display: flex;
    gap: 30px; /* Aumentar el espacio entre enlaces */
}

/* Estilo de cada enlace */
.nav-links-custom a {
    text-decoration: none;
    color: #000000; /* Ajustar el color del texto para que sea visible sobre el fondo blanco */
    font-weight: bold;
    font-size: 18px; /* Tamaño de la letra ajustado */
    transition: color 0.3s ease;
}

/* Estilo de los enlaces al pasar el ratón */
.nav-links-custom a:hover {
    color: #003E69;
}
