/* Estilo global para el cuerpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo blanco para toda la página */
}

/* Estilo para el banner */
.Banner-container {
    background-color: #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4rem;
}

/* Estilo para los contenedores de la página */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 3cm;
    background-color: #ffffff; /* Fondo blanco para el contenedor principal */
}

.market-titule {
    font-size: 2.5rem;
    color: #0f345c; /* Color del título */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
  }
/* Estilos para el contenedor DolarSpot */
.Dolarspot-container {
    margin-top: 1cm;
    background-color: #ffffff; /* Fondo blanco del contenedor */
    padding: 20px;
    width: 90%;
    margin-bottom: 50px;
    border-radius: 20px; /* Redondeo suave para el contenedor */
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

/* Estilos para el título Dólar Spot */
.dolarspot-title {
    text-align: center;
    color: #003357;
    font-size: 46px;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Estilos para la sección de información Dólar (mantener fondo azul) */
.info-container-dolar {
    display: flex;
    justify-content: center; /* Centrar elementos hijos horizontalmente */
    align-items: center; /* Centrar elementos hijos verticalmente */
    width: 100%;
    margin: 10px auto; /* Ajusta el margen superior e inferior para reducir espacio */
    background-color: #000000;
    padding: 1px; /* Reduce el padding para hacer el contenedor más compacto */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    box-sizing: border-box;
}
/* Tarjetas individuales dentro de info-container-dolar */

/* Tarjetas individuales dentro de info-container-dolar */


/* Estilo para la sección de gráficos (Graphics) */
.Graphics-container-dolar {
    width: 90%; /* Ajustar ancho si es necesario */
    margin: 60px auto; /* Aumenta el margen superior para más espacio */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}



/* Estilo para la sección de noticias (News) */
.News-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    width: 90%;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor */
}
