/* init.css */

/* Fondo blanco global para la página */
body, html {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */


/* Contenedor para las tarjetas de información del dólar */
.info-container-dolar {
    display: flex;
    justify-content: space-around; /* Los elementos estarán más cerca */
    width: 100%;
    max-width: 1200px;
    gap: 10px; /* Reducido para acercar más las tarjetas */
    padding: 10px; /* Reducido el padding general */
    background-color: #fff;
}

/* Cada tarjeta individual */
.info-container-dolar > div {
    background-color: #fff;
    padding: 15px; /* Menos padding para que el contenido esté más cerca del borde */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    flex: 1;
    text-align: center;
    min-width: 300px;
}

/* Estilo de los títulos */
.info-container-dolar h3 {
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px; /* Aumentamos el tamaño de los títulos */
}

/* Estilo del texto */
.info-container-dolar p {
    font-size: 22px; /* Aumentamos el tamaño de la fuente */
    color: #333;
    margin: 10px 0;
}

/* Contenedor de la gráfica */
.average-container {
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
}

.average-container canvas {
    width: 100% !important;
}
