/* Estilo global para el cuerpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo blanco para toda la página */
}

/* Estilo para el banner */
.Banner-container {
    background-color: #0033a0;
    color: white;
    text-align: center;
    font-size: 4rem;
}

/* Estilo para los contenedores de la página */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 3cm;
    background-color: #ffffff; /* Fondo blanco para el contenedor principal */
}

/* Estilos para el contenedor DolarSpot */
.Dolarspot-container {
    margin-top: 1cm;
    background-color: #ffffff; /* Fondo blanco del contenedor */
    padding: 20px;
    width: 90%;
    margin-bottom: 50px;
    border-radius: 20px; /* Redondeo suave para el contenedor */
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

/* Estilos para el título Dólar Spot */
.dolarspot-title {
    text-align: center;
    color: #003357;
    font-size: 46px;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Estilos para la sección de información Dólar (mantener fondo azul) */
.info-container-dolar {
    display: flex; /* Coloca los elementos uno al lado del otro */
    justify-content: space-between; /* Espacio entre las tarjetas */
    align-items: flex-start; /* Alineación superior de las tarjetas */
    width: 90%; /* Ajusta el ancho para mantener las tarjetas visibles */
    margin-bottom: 20px;
    background-color: #ffffff; /* Fondo azul */
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0); /* Sombra ligera */
}

/* Tarjetas individuales dentro de info-container-dolar */
.info-container-dolar > div {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1; /* Permitir que las tarjetas ocupen el mismo espacio */
    max-width: 40%; /* Ajustar el ancho máximo para que quepan dos tarjetas en la fila */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Tarjetas individuales dentro de info-container-dolar */


/* Estilo para la sección de gráficos (Graphics) */
.Graphics-container-dolar {
    width: 90%;
    margin-bottom: 20px;
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

/* Estilo para la sección de noticias (News) */
.News-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    width: 90%;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera alrededor */
}
