/* Contenedor principal de la tabla de montos */
.MountDolar-container {
    font-family: 'Poppins', sans-serif;
    background-color: #5a56562d; /* Fondo similar a la especificación */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 900px; /* Ancho máximo del contenido aumentado */
    
    text-align: center;
}

/* Título de la tabla */
.MountDolar-table-title {
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Fila de datos: mostrará ícono, título y valor */
.MountDolar-data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1414142d;
    border-radius: 8px;
    font-size: 18px;
}

/* Ajuste de tamaño para los íconos */
.MountDolar-icon {
    font-size: 20px; /* Ajuste de tamaño */
    color: #ffffff;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    flex-shrink: 0; /* Asegura que los íconos no se reduzcan en tamaño */
}

/* Columna de los títulos de datos */
.MountDolar-data-item-title {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    width: 50%;
}

/* Columna de los valores de datos */
.MountDolar-data-item-value {
    font-size: 18px;
    font-weight: 400;
    color: #ffffffb6;
    text-align: right;
    width: 50%;
}

/* Hover efecto en las filas */
.MountDolar-data-row:hover {
    background-color: #4b4b4b75;
    transition: background-color 0.3s ease, color 0.3s ease;
}
