.dolar-info-time {
  background-color: #000000;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative; /* Necesario para el pseudo-elemento */
  overflow: hidden; /* Evita que el pseudo-elemento se desborde */
}

/* Degradado de negro a blanco en la parte inferior */

/* Título "Resumen del Mercado" */
.market-title {
  font-size: 2.5rem;
  color: #ffffff; /* Color del título */
  background-color: #000000; /* Fondo negro */
  font-weight: bold;
  text-align: center;
  padding: 10px; /* Añadir espacio interno para mejorar la apariencia */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0 auto 20px; /* Centra el título horizontalmente y añade un margen inferior */
  white-space: nowrap; /* Evita el salto de línea */
}

/* Contenedor de datos, alineado horizontalmente con espacio entre elementos */
.data-container {
  display: flex;
  justify-content: center;
  gap: 2.5cm;
  flex-wrap: wrap;
  margin-bottom: 2cm; /* Añade espacio entre las casillas y el degradado */
}

/* Estilo de cada casilla de datos */
.datadolar-box {
  background: #2e2d2d75; /* Color de fondo inicial negro */
  color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  height: 130px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Estado de color azul */
.blue-color {
  background: linear-gradient(135deg, #1d3688, #0d134b); /* Cambia al degradado de color */
}

/* Efecto al pasar el cursor */
.datadolar-box:hover {
  background: linear-gradient(135deg, #1d3688, #0d134b); /* Cambia al degradado de color */
  transform: scale(1.05); /* Aumenta un poco el tamaño */
}

/* Estilo del título dentro de las casillas de datos */
.datadolar-box h2 {
  margin: 0 0 10px 0;
  font-size: 2.0rem;
  color: #ffffff;
  font-weight: bold;
}

/* Estilo del párrafo con los números */
.datadolar-box p {
  margin: 0;
  font-size: 3.0rem;
  font-weight: bold;
}
