.trm-dolar-info {
    background-color: #5a56562d;
    padding: 48px;
    border-radius: 20px;
    width: 100%;
    max-width: 1850px; /* Ancho ajustado para balancear el diseño */
}

.trm-table-title {
    text-align: center;
    color: #ffffff;
    font-size: 28px; /* Tamaño de fuente reducido ligeramente */
    margin-bottom: 10px;
    font-weight: 600;
}

.trm-data-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trm-data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 200px; /* Espacio ampliado entre título y dato para mayor separación */
}

.trm-row-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.trm-data-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 23px; /* Tamaño de fuente ligeramente reducido */
    margin-right: 200px; /* Espacio ajustado para alinear hacia la izquierda */
}

.circular-icon {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    background-size: cover;
    background-position: center;
}

.banco-de-la-republica {
    background-image: url('../../../Assets/Images/image\ \(29\).png');
}

.apertura {
    background-image: url('../../../Assets/Images/APERTURA 1 EN BLACNO.png');
}

.minimo {
    background-image: url('../../../Assets/Images/APERTURA 2 EN BLANCO.png');
}

.cierre {
    background-image: url('../../../Assets/Images/MINIMO EN BLANCO.png');
}

.trm-data-row p {
    font-weight: bold;
    color: #ffffff;
    font-size: 23px; /* Tamaño de fuente reducido ligeramente */
    margin-left: auto; /* Alinea el dato hacia el extremo derecho */
}
