.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bd4a4a00;
}

/* Contenedor que divide texto y la imagen */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px; /* Aumenta el ancho máximo del contenedor */
    padding: 60px;
    margin-top: -30px; /* Subir todo el contenido (texto e imagen) 3 cm */
    margin-left: 100px; /* Mover el contenedor más hacia el borde izquierdo */
    margin-right: 100px; /* Mover el contenedor más hacia el borde derecho */
}

/* Estilos para el contenedor de texto */
.text-content {
    flex: 1;
    padding-right: 90px; /* Aumentar el espacio horizontal entre texto e imagen */
    color: #fff;
    text-align: left;
    font-family: "Noto Sans", sans-serif;
}

.text-content h2 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1; /* Reducir el line-height para compactar más los títulos */
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3; /* Reducir el line-height para los párrafos */
    margin-bottom: 5px; /* Reducir el margen inferior */
}

/* Estilos del botón personalizado */
.custom-button {
    background-color: #003E69; /* Azul oscuro */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif; /* Mismo tipo de letra que el título */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Espacio entre el texto y el botón */
}

/* Cambiar el color de fondo al pasar el mouse */
.custom-button:hover {
    background-color: #002a4f; /* Azul más oscuro */
}

/* Estilos para el contenedor de la imagen */
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px; /* Aumentar la separación horizontal desde la imagen */
}

/* Animación de arriba hacia abajo */
@keyframes moveDownUp {
    0% {
        transform: translateY(-15px); /* Comienza 15px arriba */
    }
    50% {
        transform: translateY(15px);  /* Baja 15px */
    }
    100% {
        transform: translateY(-15px); /* Regresa a la posición inicial */
    }
}

/* Aplicar la animación a todas las imágenes */
.image-content img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    animation: moveDownUp 2s ease-in-out infinite; /* Animación de arriba hacia abajo */
}

/* Estilos para la paginación */
.swiper-pagination-bullet {
    background: #003E69;
}

/* Estilos para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
    color: #003E69;
}
