.footer {
    background-color: #000000;
    padding: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Estilo para el logo de la empresa */
.company-logo {
    width: 200px;
    height: 70px;
    background-image: url('../../../Assets/Images/set_icapn.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

/* Estilo para los iconos de las redes sociales */
.social-icon {
    width: 30px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Iconos específicos para las redes sociales */
.facebook {
    background-image: url('../../../Assets/Images/facebook.png');
}

.instagram {
    background-image: url('../../../Assets/Images/x.png');
}

.linkedin {
    background-image: url('../../../Assets/Images/linkedin.png');
}

/* Estilos para los logos de los aliados */
.allies-logos {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

/* Estilos de los logos de los aliados como iconos circulares */
.allies-logos .footer-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 75%;  /* Ajustamos para que se adapten dentro del círculo */
    background-position: center; /* Centramos la imagen dentro del círculo */
    background-repeat: no-repeat;
    background-color: #ffffff; /* Fondo blanco dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logos específicos de los aliados */
.tp-icap {
    background-image: url('../../../Assets/Images/TP_ICAP.png');
}

.bvc {
    background-image: url('../../../Assets/Images/bvc.png');
}

.sfc {
    background-image: url('../../../Assets/Images/sfc.png');
}
