/* Contenedor principal */
.unique-dolar-info {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    width: 100%; /* Ancho adaptable */
    max-width: 400px; /* Máximo ancho */
    height: auto; /* Altura ajustable según contenido */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

/* Título principal */
.table-title {
    text-align: center;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
}

/* Fila de datos */
.unique-data-row {
    display: flex;
    justify-content: space-between; /* Alinea título y valor */
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
    color: #333333;
    box-sizing: border-box;
    width: 100%;
}

/* Título de la fila */
.unique-data-item-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #333333;
    flex: 1;
    font-size: 18px;
}

/* Valor de la fila */
.unique-data-item-value {
    font-weight: 400;
    color: #555555;
    text-align: right;
    flex: 1;
    white-space: nowrap;
    font-size: 18px;
    margin-left: 10px;
}

/* Ícono */
.icon {
    color: #000000;
    margin-right: 8px;
    font-size: 20px;
}

/* --- Diseño Responsivo --- */

/* Modo Móvil (hasta 768px) */
@media (max-width: 768px) {
    .unique-dolar-info {
        width: 95%; /* Ancho adaptativo */
        padding: 15px;
    }

    .table-title {
        font-size: 20px;
    }

    .unique-data-row {
        padding: 8px 10px;
    }

    .unique-data-item-title,
    .unique-data-item-value {
        font-size: 16px;
    }

    .icon {
        font-size: 16px;
    }
}

/* Modo PC (mayor a 1025px) */
@media (min-width: 1025px) {
    .unique-dolar-info {
        width: 100%;
        max-width: 490px; /* Menor ancho en modo PC */
        padding: 25px;
    }

    .table-title {
        font-size: 28px;
    }

    .unique-data-row {
        padding: 10px 20px;
    }

    .unique-data-item-title,
    .unique-data-item-value {
        font-size: 18px;
    }

    .icon {
        font-size: 20px;
    }
}
