/* LoginForm.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body-login {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../../Assets/Images/fondo\ recuperar.PNG') no-repeat center center/cover;
  }
  
  .login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.42); /* Adjust color and opacity here */
    z-index: 1;
  }
  
  .login-box {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 09);
    border-radius: 8px;
    padding: 40px 40px; /* Increase padding for more height */
    box-shadow: 0 4px 8px rgba(141, 27, 27, 0.1);
    text-align: center;
    width: 320px;
    height: auto; /* Ensure the height is auto-adjusted */
  }
  
  .logo {
    width: 180px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px; /* Increase margin for more space between fields */
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px; /* Increase padding for larger input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #2c3e50;
    color: white;
    padding: 12px; /* Increase padding for a larger button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Increase margin to separate the button from input fields */
  }
  
  button:hover {
    background-color: #34495e;
  }
  